
<div *ngIf="contactList && contactList.length > 0;">
    <div class="container my-4">
        <div class="row">
            <div class="col-12 text-center bg-danger text-white py-4 rounded shadow">
                <h1 class="display-4">📇 Contact List</h1>
            </div>
        </div>

        <div class="row justify-content-center mt-5">
            <div class="col-md-10 bg-white p-4 rounded shadow">
                <table class="table table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Contact Id</th>
                            <th scope="col">Photo</th>
                            <th scope="col">Name</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let val of contactList">
                            <td>{{ val.id }}</td>
                            
                              <td>
                                  <img
                                    [src]="'images/' + val.photo"
                                    alt="{{ val.name }}"
                                    class="img-thumbnail"
                                    style="width: 50px; height: 50px;"
                                  />
                                </td>

                            <td>{{ val.name }}</td>
                            <td>{{ val.PhoneNo }}</td>
                            <td>
                                <a [routerLink]="['/contacts/view', val.id]" class="btn btn-sm btn-outline-info me-2">
                                    <i class="fas fa-eye"></i> View
                                    </a>

                                <a [routerLink]="['/contacts/edit', val.id]" class="btn btn-sm btn-outline-primary me-2">
                                    <i class="fas fa-edit"></i> Edit
                                </a>
                                <button (click)="deleteContact(val.id)" class="btn btn-sm btn-outline-danger">
                                    <i class="fas fa-trash-alt"></i> Delete
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>